<table class="table">
  <thead>
    <td><%= link_to(publication.user.name,user_profile_path(publication.user.id))%></td>
    <td style="text-align: right">Likes: <%=publication.likes.length%></td>
  </thead>
  <tbody>
    <tr>
      <td colspan="2"><%=publication.text%></td>
    </tr>
  </tbody>
</table>
